@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.clr{
    clear:both;
    height: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Work Sans";
    font-weight: 600;

}
p{
    font-family: 'Open Sans',arial;
    line-height: 1.86em;

}
ul{
    list-style: none;
}
.overlay{
  background-color: rgb(0, 0,0, .5);
  overflow: hidden;
  height:100%;
}
/* header */
.header{
    height: 70vh;
    background-image: url(../image/aboutimage/aboutbg.jpg);
}
.header-content p a{
    background: none;
    transition: 0.1ms;
    color: rgb(181, 186, 191);
    font-weight: 200;
   }
.header-content p a:hover{
 color:#ce5c9f;
 background: none;

}

/* header */

/* ourstory */
.ourstory{
    height: 100vh;
}
.ourstory .container{
    height: 100vh;
}
.ourstory .desc,.img{
    height: 100%;
}
.ourstory .img{
    padding-left: 120px;
}
.ourstory .desc{
    padding-right: 30px;
}

.ourstory p{
    Font-size: 15px;
    Font-weight: 400;
    Line-height: 27.9px;
    width: 120%;
}
.ourstory li{
    width: 150%;
    margin-left: -25px;
}

.ourstory li i{
margin-right: 10px ;
}

/* ourstory */
  
/* Features*/
.Features{
    background-color: #f8f8f8    ;
}
.Features i{
   font-size:xx-large;
}

/* Features*/

/* media */

@media screen and (min-width:200px) and (max-width:1000px) {

  .ourstory .img{
        height: 150px;
        align-items: center;
        padding-top: 50px;
    }
  .ourstory .img img{
        height: 150%;
        width: 150%;
        margin-top: 30px;
    }

}
/* media */
